@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-7xl;
  text-transform: uppercase;
}
h2 {
  @apply text-4xl font-semibold;
}
span {
  font-family: 'Material Symbols Outlined';
  font-weight: 200;
}
body {
  font-weight: 300;
}
